[2019-08-23 15:00] ogencoglu opened #1 "Any plans on robustness of model explanations?"
Thanks for this work!

Any future development plans on adversarial attacks on feature importance / model explanations? For instance : https://arxiv.org/abs/1710.10547

[2019-08-25 14:55] andrewilyas commented on #1
Hi, thanks for the comment!

We tried to keep the core library as simple but modular as possible, so we don't have plans to implement specific attacks. Instead, such attacks seem like they could be carried out really easily by using a custom loss (see this tutorial for an example of how to use custom_loss: https://robustness.readthedocs.io/en/latest/example_usage/input_space_manipulation.html).

F

[2019-08-27 07:50] ogencoglu commented on #1
Thanks for the reply.

[2019-09-10 20:57] inkawhich opened #3 "Restricted ImageNet Class Imbalance"
Hello, I was wondering if you consider the class imbalance problem that is created in the Restricted ImageNet dataset when training the models? For example, the "Dog" superclass is made of 117 subclasses whereas the "Frog" class is made of only 3 subclasses. I don't see any special samplers or weighting in the loss functions but I may have missed something. Or, is this not a problem at all and you

[2019-09-11 12:38] TLMichael commented on #3
I think the authors use `Restricted ImageNet` just for qualitative analysis, not quantitative analysis. So the class imbalance problem is not significant. But if we try to compare different models by clean or adversarial accuracy, the problem is not to be neglected.

Moreover, I found that the authors have another draft code(see [robustness_lib](https://github.com/MadryLab/robustness_lib)), where

[2019-09-11 19:02] inkawhich commented on #3
The balanced version that you linked to seems interesting. It wouldn't be that hard to extend it to 20 superclasses with 5 subclasses each so it uses 1/10th of the full dataset (e.g. other classes may be Cars, Musical_Instruments, Snakes, etc.). As for the overfitting, people are using resnet and wideresnet for cifar10 which is an all around smaller problem that the RestrictedImageNetBalanced. I g

[2019-09-12 01:26] TLMichael commented on #3
That looks good! I could try both balanced datasets to figure out which one is right for me.

Does the bias problem arise from too many animal classes?
Maybe for a neural network, they are too different to induce a concept of animal. The difference between dog and fish may be as large as it between dog and car.

[2019-09-15 02:33] andrewilyas commented on #3
Hi all! You're right that Restricted ImageNet has a big class imbalance, but as pointed out earlier, we are mostly using this dataset for qualitative analysis rather than quantitative, so it shouldn't be a problem.

The main bottleneck for the balanced dataset is just not enough data---using full sets instead of continuous ranges is an interesting direction for alleviating this though!

[2019-09-16 15:02] TLMichael commented on #3
Full ImageNet adversarial training is still challenging,
even with the advent of some techniques like [1] and [2].

They seem to have worse generalization performance than standard adversarial training.

[1] Shafahi, Ali, et al. "Adversarial Training for Free!." arXiv preprint arXiv:1904.12843 (2019).
[2] Zhang, Dinghuai, et al. "You Only Propagate Once: Accelerating Adversarial Training via Maxim

[2019-09-17 14:35] andrewilyas commented on #3
Yeah, getting fully robust models on ImageNet is pretty hard (which is the main reason we use a subset of ImageNet instead of the whole thing)---on RestrictedImageNet though we can get very high robust and standard accuracy with adversarial training.

[2019-09-19 04:51] TLMichael commented on #3
Thanks for your explanation. I've been wondering how much time you spent training a robust(PGD-7) ResNet-50 on RestrictedImageNet and how many GPUs you used.

Your information will be of great help to me. It helps my budget of device.

[2019-09-19 21:24] andrewilyas commented on #3
If I'm remembering correctly, it usually takes a few hours on 2-3 1080Ti GPUs.

[2019-09-20 04:14] TLMichael commented on #3
Thanks a lot!

[2019-09-22 16:57] iamgroot42 commented on #3
@andrewilyas In the "Adversarial Examples Are Not Bugs, They Are Features", it seems that metrics have indeed been reported and discussed for models trained on the Restricted ImageNet dataset. I realize that the paper's focus is not on getting state-of-the-art performance on this dataset but rather study the high-level patterns and phenomenon. However, I cannot stop thinking about how fixing the c

[2019-09-23 03:16] andrewilyas commented on #3
That's true---however its important to note that (a) the accuracy we get on Restricted-ImageNet is far, far better than what you would get with random chance for the D_R and D_NR dataset, and (b) for the D_det dataset, note that the "baseline" accuracy (i.e. what we would intuitively expect) is actually *0%*, as the images are consistently mislabeled---class imbalance should actually *hurt* you he

[2019-09-23 03:43] iamgroot42 commented on #3
Yes: my point was that performance might (and probably would) **increase** if the imbalance were fixed, further reinforcing the claims based on empirical results :)

P.S. On a side note @andrewilyas , is the code to reproduce those experiments in the paper available anywhere? I could only find a link to the final datasets in the paper.

[2019-09-23 12:43] andrewilyas commented on #3
There's no packaged code release---in making the results for the paper, we just used the adversarial attack functionality from this library, and also the training functionality from this library for D_det and D_rand. For D_R and D_NR, they are created through representation inversion, which we have released code for here: https://github.com/MadryLab/robust_representations/blob/master/image_inversi

[2019-09-23 12:51] inkawhich commented on #3
Ok thanks guys, so I guess the moral of the story is if you want quantitative results it may be useful to deal with the class imbalance problem but if you want mostly qualitative results the given RestrictedImageNet will work fine.

[2019-09-23 12:51] #3 closed

[2019-09-23 17:42] iamgroot42 opened #6 "Datasets?"
This code (along with some other projects using it, such as : https://github.com/MadryLab/robust_representations/blob/master/image_inversion.ipynb) load CIFAR, Imagenet, etc from a directory structure with train/test folders etc. However, I could not find a data link for these datasets in this format. The in-built data loaders for these datasets seem to handle these very differently. Could you ple

[2019-09-25 11:54] andrewilyas commented on #6
CIFAR is set to auto-download, so you can just give it the root directory where you want the data to be downloaded (e.g. `/tmp` or something).

For the rest of the datasets, they should be downloaded in Pytorch ImageFolder format, i.e. something like this:
[code]

There should be many resources online for formatting ImageNet into this format, e.g.: https://github.com/facebook/fb.resnet.torch/blob/

[2019-09-26 02:55] #6 closed

[2019-10-10 00:18] evankravitz-berk opened #8 "Unable to load pre-trained robust models for CIFAR10 L2-norm (ResNet50)"
I am unable to load some of the pretrained robust models for CIFAR10 L2-norm (ResNet50). I have downloaded the model files directly from the dropbox links and have placed them into the `/home/ubuntu/Research/DomainShift_Experiment` directory. Here's the code that I'm running:

[code]

Here's the output I get:

[code]

This same error occurs for when epsilon = 1. The only models that I can successf

[2019-10-10 01:46] andrewilyas commented on #8
Hi Evan,

It seems your download might have been corrupted somehow. In particular, the following series of commands works for me:
[code]

Feel free to reopen the issue if running the same set of commands does not yield the same result.

[2019-10-10 05:07] evankravitz-berk commented on #8
This exact sequence of commands gives me the exact same error as I got before.

[2019-10-10 18:13] lengstrom commented on #8
Can you list your versions of pytorch, python, torchvision, dill? Also what
OS?

On Thu, Oct 10, 2019 at 1:07 AM evankravitz-berk <notifications@github.com>
wrote:

[2019-10-17 17:30] iamgroot42 commented on #8
I get the same error as well.

Ubuntu: 16.04
Python: 3.6.5
Pytorch: 1.3
Torchvision: 0.4.1
Dill: 0.3.1.1

[2019-10-18 02:46] jgbos opened #10 "input range"
Am I right in assuming the data output of a custom dataset has to be in the range of `[0, 1]` based  the `InputNormalizer` used in `AttackerModel`?

[2019-10-18 14:39] andrewilyas commented on #10
Yep, that's correct!

[2019-10-18 14:42] andrewilyas commented on #8
@iamgroot42 Can you try running the same commands in the following environment?

Pytorch==1.1.0
Torchvision==0.3.0
Dill==0.2.9

If this ends up being the problem I'll upgrade these packages and regenerate the checkpoint files

[2019-10-18 14:51] #10 closed

[2019-10-18 15:37] iamgroot42 commented on #8
This worked for me. Thanks @andrewilyas !

[2019-10-18 18:54] andrewilyas commented on #8
@evankravitz-berk This will probably fix your issue as well. I'll make a note of this in the README and try to figure out if its possible to re-encode them somehow. Closing for now!

[2019-10-18 22:39] evankravitz-berk commented on #8
We are still running into this problem: I ran the same commands with the right package versions but I still get the error.

[code]
Here's the error I get:
[code]

[2019-10-20 01:43] iamgroot42 opened #11 "Attack params for I-inf"
What were the attack parameters used for evaluating the models made available, when running PGD with the L-inf norm? I tried evaluating a normal model (no adversarial training) against the PGD attack wit L-inf norm, eps = 0.03 (~8/255), and attack-lr set to 0.1, and I got ~40% accuracy on perturned examples, while the table says it was close to zero. What am I doing wrong?

[2019-10-20 17:17] dtsip commented on #11
It looks like the attack-lr is too high. You are taking steps of size 0.1 when you are constraining each pixel to only change by 0.03.

As stated in the README, we use a PGD attack with 20 steps, norm='inf', and attack-lr=2.5 * eps / steps, which would translate to 2.5 * 0.03 / 20 = 0.00375 for this case.

[2019-10-20 17:17] #11 closed

[2019-10-20 17:23] iamgroot42 commented on #11
My bad, I skipped over that part of the README 😅 Thanks!

[2019-10-22 05:30] iamgroot42 opened #12 "SLIDE attack?"
I've written a basic implementation for the [SLIDE](https://arxiv.org/pdf/1904.13000.pdf) variant (modified L-1 PGD), and I think it may be useful to have it included it in this package. Should I go ahead and submit a PR for it?

[2019-10-24 21:18] evankravitz-berk commented on #8
@andrewilyas - fixing the versions did not help. Any other suggestions?

Not sure if this helps, but we're running this on an EC2 AWS instance.

[2019-10-25 17:18] dtsip commented on #12
Thank you for the suggestion!

So, based on my understanding, it is not entirely clear that this is the "best" L1-based attack for training or testing robust models. For instance Croce and Hein, 2019 (https://arxiv.org/abs/1907.02044) report that EAD (https://arxiv.org/abs/1709.04114) performs better on most datasets and models.

In general, we would rather wait until further research converges to

[2019-10-25 17:18] #12 closed

[2019-10-25 17:23] andrewilyas commented on #8
Hi @evankravitz-berk I finally was able to reproduce this issue (although somehow with mixed/inconsistent results). I pushed an update to the cox library (``0.1.post1``) that fixed it on an EC2 instance I set up---can you try updating to that?

[2019-10-26 00:22] iamgroot42 commented on #8
I got the same error for L2 trained on eps=0.25; I think it's a problem specific to this model

[2019-10-26 21:55] andrewilyas commented on #8
@iamgroot42 Can you try the fix above?

[2019-10-26 22:00] iamgroot42 commented on #8
I got a cox-specific error (only for L2_0_25; everything else works just fine as before):

`File "/home/ubuntu/anaconda3/envs/pytorch_p36/lib/python3.6/runpy.py", line 193, in _run_module_as_main                                                                                                                                        "__main__", mod_spec)`

[2019-10-27 10:20] karimkalimu opened #14 "Models results not accurate"
The CIFAR10 (ResNet50 )pre-trained model (ε = 0.0) has to be 95.25% but I got 68.51% .

This code to test the model, I used mean and std values from (https://github.com/MadryLab/robustness/blob/master/robustness/datasets.py) :

!wget https://www.dropbox.com/s/yhpp4yws7sgi6lj/cifar_nat.pt?dl=0
!mv cifar_nat.pt\?dl=0 natural_model.pt

[code]
Output :
 test_acc =  0.6851

[2019-10-27 20:06] dtsip commented on #14
You do not need to normalize during testing, the model already takes care of that.

Can you try again without input normalization?

[2019-10-27 23:56] andrewilyas commented on #8
@iamgroot42 @evankravitz-berk sorry, a mistake on my part. Can you try updating cox again? The version should be `0.1.post2`

[2019-10-28 03:15] karimkalimu commented on #14
Yes it worked, I didn't know the model  take care of the input
 Thanks

[2019-10-28 03:15] #14 closed

[2019-10-29 21:37] evankravitz-berk commented on #8
@andrewilyas Updating the `cox` library seems to have solved the issue. Thanks!

[2019-10-30 12:31] RylanSchaeffer opened #15 "make_and_restore_model fails without cuda"
I'm running `'1.2.0+cpu'`. I'm trying to get the [introductory example with pretrained models](https://robustness.readthedocs.io/en/latest/example_usage/input_space_manipulation.html) to work with the CIFAR10 L2-norm (ResNet50) ε = 0.0 model, but I receive the following error

[code]

It appears that the appropriate place to modify `torch.load()` is [line 71` of model_utils.py](https://github.com/

[2019-10-30 12:33] RylanSchaeffer commented on #15
Perhaps an if else statement would be appropriate?

[code]

[2019-10-30 12:41] RylanSchaeffer commented on #15
But a subsequent error (`AssertionError("Torch not compiled with CUDA enabled")`) is raised on [Line 83's](https://github.com/MadryLab/robustness/blob/master/robustness/model_utils.py#L83) `model.cuda()`.

Did I miss something in the README or requirements.txt that cuda is required?

[2019-10-30 13:02] RylanSchaeffer commented on #15
Same assertion error when trying to generate an adversarial image:

`_, im_adv = model(im, label, make_adv=True, **kwargs)`

Stack trace:
[code]

[2019-10-30 14:19] andrewilyas commented on #8
great!

[2019-10-30 14:19] #8 closed

[2019-10-30 14:28] RylanSchaeffer commented on #15
@andrewilyas , I understand not wanting to train models on CPU, but what about using models on CPU? This seems quite reasonable.

[2019-10-30 15:05] RylanSchaeffer commented on #15
Looking at the `AttackerModel` and `Attacker` classes, is a GPU practically required?

[2019-10-30 16:04] dtsip commented on #15
Both classes require gradient access to the model (backprop) which takes significantly longer on a CPU. Given that the common use case is using a GPU for inference, we don't plan to implement CPU support.

That being said, you can fork the project and make the necessary adjustments (it should not be too much work, just not something we have the bandwidth to do at the moment).

[2019-11-10 18:52] khieu opened #19 "adversarial training does not seem to learn using command line tool"
I have tried using the adversarial training command line tool to train a robust cifar 10 classifier as well as an external dataset (CalTech101). After 5 iteration, the network stops learning and the evaluation accuracy for natural images is only 10% (50% for accuracy 5 which i assume is top 5 accurate).
In the paper Towards Deep Learning Models Resistant to Adversarial
Attacks https://arxiv.org/pd

[2019-11-10 19:37] lengstrom commented on #19
I think your `eps` might be too high for the algorithm to learn -- what happens when you set it to `0.5`?

[2019-11-11 18:29] andrewilyas commented on #19
As @lengstrom mentioned, your epsilon for CIFAR is probably much too high (around 0.5 is reasonable).

For CalTech101, please note that the pixels are scaled to [0, 1], so an L_infinity bound of 3.0 means that the whole image can change (which is probably why the classifier can't learn). An L_infinity bound of 0.05 and an attack_lr of 0.01 is probably more reasonable.

[2019-11-12 01:22] khieu commented on #19
thank you for the suggestion! I think the performance is better now. I used --eps 3.0 because the example in the documentation used that value (but for image net dataset).

[2019-11-12 01:22] #19 closed

[2019-11-15 15:16] j-cb opened #20 "Python version compatibility f-strings"
The files datasets.py and loaders.py (pip installation on Python 3.5) both contain an f-string, which produces a syntax error since it is a Python 3.6+ feature. After editing the two lines in the package files, it seems to work fine for me.
If the package is meant to be compatible with Python 3.5, this should be changed.

[2019-11-16 23:30] andrewilyas commented on #20
Thanks for alerting us to this---the library is indeed not compatible with Python 3.5. We'll make a note of this in the README.

[2019-11-16 23:30] #20 closed

[2019-11-21 01:04] chsanford opened #21 "Cuda Issues with Input Manipulation with Custom Model"
I'm currently following along with [the notebook for input manipulation](https://github.com/MadryLab/robustness/blob/master/notebooks/Input%20manipulation%20with%20pre-trained%20models.ipynb), with the exception that I'm using a model that I trained locally.  I run into a several cuda-related issues when I follow the recommended steps for generating adversarial examples. I am using a GPU for train

[2019-11-21 01:14] andrewilyas commented on #21
Hi! I'm not 100% sure what the issue is, but I've seen related stuff happen in PyTorch so I can try to help. Can you start by trying to add the following command:

[code]

and pasting the traceback if there is still an error?

[2019-11-21 03:44] chsanford commented on #21
That seems to work! Thank you so much for helping out!!

[2019-11-21 04:21] andrewilyas commented on #21
No worries!

[2019-11-21 04:21] #21 closed

[2019-11-22 04:17] nmudur opened #22 "Attribute Error: Can't get attribute '__main__' on <module 'builtins' (built-in)>"
I can't seem to be able to load the pre-trained models CIFAR10 models. While the model corresponding to Eps=0.0 (standard training) loads, I get an error message stating AttributeError: Can't get attribute '__main__' on <module 'builtins' (built-in)> with the non-zero epsilon models. I tried importing the ResNet and resnet50 classes, since other sources on the internet seem to indicate that this m

[2019-11-22 17:14] andrewilyas commented on #22
To resume models, we would recommend using the ``model_utils.make_and_restore_model`` function, as in the documentation (robustness.readthedocs.io):
[code]

Alternatively, you can adjust your code by doing ``import dill``, and then adding the ``pickle_module=dill`` argument into ch.load.

Let me know if this doesn't fix the issue!

[2019-11-22 22:49] nmudur commented on #22
Thanks a lot! The `import dill` solution worked (I don't have a gpu on the system I'm working on and was thus attempting to load the models without the robustness package). I was also wondering where I could find documentation for the parameters stored in the dictionary of both models? I did find the `robustness.train.train_model` but I was curious because I noticed that the standard training cifa

[2019-11-23 05:17] andrewilyas commented on #22
I think it's just saved with an earlier version of the library :) the keys in ``robustness.train.train_model`` are the current ones.

[2019-11-23 21:14] andrewilyas commented on #22
Closing this issue now, let me know if something else arises!

[2019-11-23 21:14] #22 closed

[2019-11-24 04:29] RylanSchaeffer opened #23 "Clarifying Pretrained Model Call Output"
Can someone please clarify what is returned when a pretrained CIFAR10 model is called? Two objects appear to be returned: the class prediction and an image. Is this correct? If so, what is this image? How does the `make_adv` boolean argument affect that output image?

[2019-11-24 04:30] RylanSchaeffer commented on #23
Also, is there a distinction between ´model.forward(img)´ and ´model(img)´?

[2019-11-24 13:57] andrewilyas commented on #23
Hi Rylan,

For the first question: The method returns a tuple of the form ``(model output, image)``. The first output is just the model logits (and possibly also the representation layer, if the ``with_latent`` option is passed---see the documentation for more on this). The second output is not very useful unless ``make_adv`` is true, in which case it returns the adversarial examples corresponding

[2019-11-26 23:16] liruiw opened #24 "Resnet18 pretrained model"
Hello,

Thanks for the useful code. The generated adversarial examples work perfectly on my model. I wonder if it's possible to release the Resnet18 pretrained model for my fine-tuning purpose?

Thanks again.

[2019-11-29 23:18] #24 closed

[2019-12-02 14:34] andrewilyas commented on #23
Closing this for now, let me know if anything else is needed!

[2019-12-02 14:34] #23 closed

[2019-12-13 05:37] phibenz opened #25 "Hyperparameters for adversarial training."
Hello, thanks for the awesome repo.
I am currently replicating your results.
Could you please share the hyperparameter settings for adversarial training?
Currently, I am assuming the following:

CIFAR10 L2-norm (ResNet50):
Epsilon: as specified (0.25, 0.5, 1.0)
Step_size: Epsilon/5
Iterations: 7
Random start: False

CIFAR10 Linf-norm (ResNet50):
Epsilon: as specified (8/255)
Step_size: 0.01
Iterat

[2019-12-14 00:27] andrewilyas commented on #25
These all look reasonable! We've found that adversarial training is pretty consistent over choices of reasonable hyperparameters.

[2019-12-14 02:30] #25 closed

[2020-01-31 01:08] iamgroot42 opened #26 "ImageNet pre-trained model"
Do you have a code snippet to convert the pre-trained ImageNet model to be compatible with the model class in the Robustness package? Or perhaps the model itself, if you used it in your experiments post-conversion?

[2020-01-31 18:36] iamgroot42 commented on #26
From what I understand, a resnet50(pretrained=True) call should suffice. Although, I noticed that this pretrained model is half the size of the pre-trained adversarially robust models made available via the repository (imagenet_linf_4, imagenet_l2_3_0). Is there any particular reason behind that?

[2020-01-31 19:15] dtsip commented on #26
Yes, `resnet50(pretrained=True)` should suffice. I am not sure I follow your question about model size?

[2020-01-31 20:13] iamgroot42 commented on #26
The pre-trained L-inf and L-2 models available in the README are 196MB each. However, if I load `resnet50(pretrained=True)` and then save it (using `save_checkpoint`), it's actually only 98MB. Is there any specific reason for that?

[2020-02-01 20:17] iamgroot42 opened #28 "ImageNet Pretrained Robust Models : Poor Performance"
I got ~0.3% top-5 accuracy with the L-inf and L-2 robust pretrained models made available.
I have the same pytorch and dill versions given in the README.

[2020-02-01 23:56] #28 closed

[2020-02-02 20:31] iamgroot42 opened #29 "Imagenet L-inf Robust Accuracy"
I tested the eps=4 L-inf model on Imagenet. Although the accuracy on unperturbed seeds seems to match the numbers given in the README table, I got only 12.206% top-1 accuracy with attacking with Linf (eps=4/255, iters=20, attack-lr = 2.5 * (4/255) / 20), whereas the README reports 33.58%. Am I missing something?

[2020-02-03 19:14] iamgroot42 commented on #26
It seems that this is because the AttackModel is not added by default. I've tried the following snippet to get a robustness compatible version of the vanilla Resnet50 Imagenet classifier.

[code]

However, trying to use the saved model for anything yields an error : somehow it seems parts of the prefix of the keys are removed while saving? For instance, "model.layer3.2.bn2.running_var" becomes "ay

[2020-02-03 19:43] iamgroot42 commented on #26
Figured it out : While parsing the checkpoint, the first x characters (corresponding to len("module.") are skipped. This gets added only when a DataParallel wraps the original model, which was somehow not happening when loading the model in the way described above? Added that wrapper before saving the model, and it seems to work just fine. It would be nice if this version of the model could just b

[2020-02-03 19:43] #26 closed

[2020-02-05 04:22] peiwang062 opened #30 "Probably one typo"
line 177 of attacker.py probably should be

bloss = loss.clone().detach()

[2020-02-07 07:26] kiranchari opened #31 "Clarification on epsilon values"
Hi, thanks for making this library!

I have a couple of questions about the epsilon budget -

1. Are epsilons budgets for linf norms (such as 8/255) in pixel space ([0,1] and before normalization with mean/std) or model input space (pixel values divided by 255. and normalized by mean/std)? If they are in the latter, model input space, why are adv. samples clamped to [0,1] in both Linfstep.project(

[2020-02-07 18:30] andrewilyas commented on #31
1. Epsilon is for images in [0, 1], normalization is wrapped into the model itself rather than the data augmentations.

2. These values are pretty standard in the literature, and give reasonable accuracy values. In principle you can evaluate accuracy with respect to any epsilon.

[2020-02-08 03:43] jamieray opened #32 "Shouldn't this (and related lines) use dim=0?"
https://github.com/MadryLab/robustness/blob/ca52df73bb94f5a3abb74d95b82a13589354a83e/robustness/attack_steps.py#L134

[2020-02-10 06:31] kiranchari commented on #31
Thanks for the clarification Andrew

[2020-02-10 06:31] #31 closed

[2020-02-11 20:23] dtsip commented on #32
You are right, thanks for spotting! Fixed in a733a8815ccfe386dda35bbc12c96b5929d5411b

This should not affect any of our reported results since we don't use random start for PGD.

[2020-02-11 20:23] #32 closed

[2020-02-12 14:26] dtsip commented on #30
You are right, thanks for catching this! Fixed in 7c1e88e29ed68e796e8308e203b39c5ab78dc144

This does not affect anything since `loss` was always `losses` when the function was used.

[2020-02-12 14:26] #30 closed

[2020-02-12 15:39] dtsip commented on #29
I run the following command using the eps=4 L-inf model (from [here](https://www.dropbox.com/s/axfuary2w1cnyrg/imagenet_linf_4.pt?dl=0)) and I get 33.57% robust accuracy. Can you try this and let us know what you get?
[code]

[2020-03-16 00:56] #29 closed

[2020-03-16 08:08] ndb796 opened #33 "Is there a pre-trained model file for restricted ImageNet model (10 classes)?"
Hi! Thank you for sharing good project :)

Is there a pre-trained model file for the restricted ImageNet model (10 classes)?

I could find only the adversarially trained restricted ImageNet model file.
(https://github.com/MadryLab/robust_representations)

But, I cannot find a naturally trained restricted ImageNet model file.

[2020-03-19 19:26] dtsip commented on #33
Hi, I uploaded a pre-trained Restricted ImageNet model [here](https://robustmodels.s3.amazonaws.com/RestrictedImageNetNat.pt) and also linked to it from the [robust representations repo](https://github.com/MadryLab/robust_representations). Hope that helps.

[2020-03-19 19:26] #33 closed

[2020-03-23 01:47] SolidShen opened #34 "Robust Accuracy on Cifar10"
Hi, I am trying to reproduce the experiment results of one paper from your lab 'Adversarial examples are not bugs, they are features' with this repo.  In the paper (Table 7), the author mentioned the robust accuracy on cifar10 for the standard training model is 4.49% (l2_bound = 0.25 (Is it the bound on (0,1) pixel space?)). But I can't achieve this accuracy with the same setting(7 steps with a st

[2020-03-23 15:32] dtsip commented on #34
In general, the robustness of standard models can vary to some extent. Depending on the exact architecture and hyperparameters used, you might encounter slightly different results. Using the PyTorch pre-trained ResNet50 with a 100-step PGD described in the README, we get an accuracy of 7.34%.

(Yes, the bound is in [0, 1] pixel space.)

[2020-03-23 15:32] #34 closed

[2020-04-01 04:35] LokLu opened #35 "TypeError: append() got an unexpected keyword argument 'table'"
Env:
torch==1.1.0
torchvision=0.3.0
cuda=10
Command running:
python3 -m robustness.main --dataset cifar --data ./data/cifar10/by-image --adv-train 0 --arch resnet50 --out-dir ./logs/
Error got:
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/opt/conda/lib/python3.6/runpy.py", line 85, in _run_code

[2020-04-01 08:11] margiki commented on #35
It's because you use a newer version of Pandas (1.0+). Downgrading to Pandas 0.25.3 should solve your issue :)

[2020-04-01 10:09] LokLu commented on #35
@margiki Thanks, solved by downgrading the pandas lib.

[2020-04-01 10:09] #35 closed

[2020-04-03 07:50] LokLu opened #36 "Script to get the pre-trained weights"
I cant reproduce the results of standard training as claimed in the repo 95.25%. Is there a specific script can reproduce the result? Thank you!

[2020-04-03 15:43] dtsip commented on #36
The files are provided as DropBox urls ending in `dl=0`. You can use `wget` to download these by replacing 0 with 1 (and placing the url in quotes).

This should download the CIFAR10 standard model:
```wget "https://www.dropbox.com/s/yhpp4yws7sgi6lj/cifar_nat.pt?dl=1"```

[2020-04-03 15:49] LokLu commented on #36
@dtsip Thanks for reply, I have downloaded the model. I am more interested in the hyperparameters (training epoch, learning rate) used during the training stage, as I can't reproduce the same performance with my own implementations. I might miss some details there.

[2020-04-03 16:18] dtsip commented on #36
Oh, I see. Here are the hyper-parameters we used:

[code]

[2020-04-03 16:24] LokLu commented on #36
Thanks a lot, I will try again.

[2020-04-03 16:37] dtsip commented on #36
Sounds good! Feel free to reopen if this does not solve it.

[2020-04-03 16:37] #36 closed

[2020-04-16 21:42] NoahAmsel opened #37 "`AttackerModel` doesn't do normal inference"
Hi there,
Great work on this package! Forgive me if I'm missing something, but there seems to be a mismatch between how `AttackerModel.forward` works, and the documentation. I want to call `AttackerModel.forward` and just do normal inference without returning any image. I should be able to do this by setting `make_adv=False` and `with_image=False`. But as I can see [here](https://github.com/MadryL

[2020-04-17 07:24] NoahAmsel commented on #37
Basically I think output should never be `None`, and when `with_image == False` it should be the only return value rather than being part of a tuple.

[2020-04-18 02:13] andrewilyas commented on #37
Thanks for pointing this out, there is definitely a bug somewhere in there (output should indeed never be None haha), and the link should have a ``.ipynb`` at the end probably, will fix both of these soon and update on PyPI. I also like the idea of only returning one value if ``with_image=False``.

[2020-04-18 18:41] NoahAmsel opened #38 "`AttackerModel` should not perform normalization"
I think it would be cleaner if the normalization step were baked into the underlying model rather than being performed by the `AttackerModel`. Conceptually, the act of normalizing inputs is not related to the `AttackerModel`. Combining them causes problems. For instance, I'm trying to wrap `AttackerModel` around a network that already does normalization. My proposed change is to make the `dataset`

[2020-04-20 21:10] amirrezashaeiri opened #39 "Initial Weights"
Hi,

Thank you for sharing your pre-trained models!

I am wondering if you can share your initial weights also.

Thank you.

[2020-04-20 21:50] andrewilyas commented on #39
Hi!

Unfortunately we don't have a checkpoint from before training for the released models---the training process is pretty robust though so you should get similar results by just training your own model from a new init and saving it (see the docs for a tutorial on how to do this)

[2020-04-20 21:51] andrewilyas commented on #38
This is a good idea! Am a little swamped right now, but will get it into the next release. Pull requests into the `develop` branch also welcome :)

[2020-04-20 22:22] amirrezashaeiri commented on #39
aha, I see, actually, I want to compute quantities like distance to initialization for the ImageNet models, which need much time to train using standard GPUs!

anyway, thank you.

[2020-04-20 22:22] #39 closed

[2020-04-29 03:49] andrewilyas opened #40 "Add more model files"
We should add model files that are compatible with the custom arguments used by `make_adv`. @Hadisalman I think you have some of these?

Related is #27, which we should review and merge into `develop` soon.

[2020-04-29 06:48] dapello opened #41 "Issue with resuming training from a checkpoint"
I noticed that when resuming training from checkpoint using the CLI, the checkpoint weights are loaded, but the current epoch and learning schedule are not resumed.

Unless I'm missing something, it looks like it's because the checkpoint is not passed to `train_model`; see https://github.com/MadryLab/robustness/blob/6347646ae47120d35f47220eabd507cebbd6c914/robustness/main.py#L57

Seems like an eas

[2020-04-29 07:10] andrewilyas commented on #41
Thanks for pointing these out! I think these issues are actually already being patched on the develop branch, which we'll merge into master soon.

A brief summary of the workflow in develop:

- There is a `resume_optimizer` argument, if it is False then things proceed as in master, if it is true it passes the checkpoint on to train (this argument is because for some cases like fine-tuning on other

[2020-04-29 07:26] dapello commented on #41
Thanks for the speedy reply! Both of these developments make sense to me. I've patched my local version so it's working fine for me now, and I'll keep an eye for the latest version.

Also, thanks for making this library for public use, it's an excellent research tool!

[2020-04-29 09:54] Hadisalman commented on #37
Fixed. See cec6e4fd283f937d6d28f84e20103f5eb1e0070d.

[2020-04-29 09:54] #37 closed

[2020-04-29 09:55] #41 closed

[2020-05-02 01:49] LR32768 opened #45 "Transform arg does not passed into the Dataset construction"
Hi. When I am using your package for getting a RestrictedImageNet dataloader, it seems that the argument of transform_train and transform_test does not affect the output image. Then I read your code and found that the construction does not use the passed-in transform but the default DA.TRANSFORM_TRAIN instead.
A small issue, but looking forward to fixing them. THX

[2020-06-29 12:13] GloryyrolG opened #51 "Hold-Out Validation Dataset & Test Dataset"
Thank authors for all the development and release of this lib. Btw, may I know do you guys use hold-out validation dataset which should be distinguished from test dataset. For example, training and testing the model on CIFAR-10 dataset, for choice and decision of hype-params, the original training dataset is divided into _trainset_ and _valset_ usually with the ratio 9:1. But unfortunately, I find

[2020-07-03 13:36] andrewilyas commented on #45
This has been fixed on the ``develop`` branch, which will be merged in sometime this week.

[2020-07-04 06:01] andrewilyas commented on #51
Thanks for the comment! We will likely eventually get to this but we are quite resource-constrained and it's not on our immediate roadmap. We would welcome a pull request, if you can find an elegant way to integrate it with the code!

[2020-07-04 07:04] andrewilyas commented on #45
This should now be fixed on the master branch!

[2020-07-04 07:04] #45 closed

[2020-07-04 07:04] andrewilyas commented on #40
Done!

[2020-07-04 07:04] #40 closed

[2020-07-09 23:24] zhmiao opened #58 "No ImageNetHierarchy"
Hello! Thanks for the great toolkit. I think the new update removed the ImageNetHierarchy class. Is there anything for replacement? Thanks again.

[2020-07-10 10:52] yogeesh-alphaics commented on #58
hi ,
i am also facing the same issue. Please update as soon as possible.

[2020-07-10 14:01] ShibaniSanturkar commented on #58
Thanks for pointing this out. Our previous commit accidentally omitted the ImageNetHierarchy class. Should be fixed in #60 which will be merged with master later today.

[2020-07-11 05:55] andrewilyas commented on #58
Hi all,

Thanks for bringing up this issue! It's now fixed on the master branch and on PyPI. Feel free to re-open the issue if you encounter other issues!

[2020-07-11 05:55] #58 closed

[2020-07-24 07:26] rmp918 opened #63 "Why loss need use mean()"
Thank for this nice work
I don't know why use mean() on loss
https://github.com/MadryLab/robustness/blob/da6b6d31a13f37c7a2e97eb02c5f5551eb894a00/robustness/train.py#L449
Anyone can tell me why?

And I can't understand in the train.py which function call _model_loop
In this function we can call train and val , but val can use loss.backward()?
Hope someone can answer me,thanks~

[2020-08-05 14:20] andrewilyas commented on #63
Hi, thanks for the questions:

1. ``.mean()`` is typically not needed but is useful if the user is supplying a custom_train_loss that returns a vector instead of a scalar.
2. The validation loop will always have gradients disabled unless you use the ``disable_no_grad`` option in ``train``, in which case you are allowed to use loss.backward() in the val loop.

Hope these answer your questions!

[2020-08-06 06:32] qimingyudaowenti opened #69 "About MNIST dataset and input normalization."
Thanks for your excellent work and I have three questions:

1. I notice that _robustness_ does not support the MNIST dataset now. Do you consider adding it in the future?
2. When dealing with MNIST, do we need input normalization? I'm worried because there is no normalization operation in [mnist_challenge](https://github.com/MadryLab/mnist_challenge) but it exists in:
https://github.com/MadryLab/r

[2020-08-06 07:05] andrewilyas commented on #69
Hello, thanks for the issue! While we don't have immediate plans to support MNIST, it is really easy to add custom datasets! See the ``datasets.py`` file in ``robustness/`` for examples. No guarantees the below will work exactly as-is, but it should be something as simple as:

[code]

Notice that we set the mean to be 0s and the stdev to be 1s, which effectively disables normalization.

[2020-08-06 08:08] qimingyudaowenti commented on #69
Thank you for your helpful reply!

[2020-08-06 08:08] #69 closed

[2020-08-07 01:12] qimingyudaowenti opened #70 "About the std in normalization."
You use `[0.2023, 0.1994, 0.2010]` as the std constant to perform normalization:

https://github.com/MadryLab/robustness/blob/a610690a3c9008bd3f096f73163223e8d3582155/robustness/datasets.py#L354

but I get different value:

[code]

So, how are these values (`[0.2023, 0.1994, 0.2010]`) calculated？

[2020-08-07 06:27] andrewilyas commented on #70
They were taken from here: https://github.com/kuangliu/pytorch-cifar/blob/master/main.py

I'll look into the values you posted though and see how they compare in terms of performance.

[2020-08-11 11:09] qimingyudaowenti opened #71 "Can't load several pretrained models."
Below error happens when I load pretrained model (ResNet50, CIFAR10 L2-norm: ε = 0.25 or ε = 1.0):

[code]

It's ok when I load other models trained by CIFAR10. Do you have any idea?

[2020-08-17 00:46] andrewilyas commented on #70
Hi! I checked and you are correct, the normalization values are slightly off. This maybe will yield a small performance boost, but on the other hand will require re-training all of our models to make them work with this normalization. While we might revisit this in the future, I don't have the computational resources to do this at the moment.

Thanks for the catch!

[2020-08-17 00:46] #70 closed

[2020-08-17 00:47] andrewilyas commented on #71
What version of PyTorch and dill are you using? (try running ``pip freeze | grep dill`` and ``pip freeze | grep torch`` and paste the output).

[2020-08-17 21:38] MalharJ opened #73 "PyTorch incompatibility"
I'm trying to load the models in PyTorch.

[code]

Upon doing so, I get the following error.

_IncompatibleKeys(missing_keys=['conv1.weight', 'bn1.weight', 'bn1.bias', 'bn1.running_mean', 'bn1.running_var', 'layer1.0.conv1.weight', 'layer1.0.bn1.weight', 'layer1.0.bn1.bias', 'layer1.0.bn1.running_mean', 'layer1.0.bn1.running_var', 'layer1.0.conv2.weight', 'layer1.0.bn2.weight', 'layer1.0.bn2.bias'

[2020-08-17 21:47] #73 closed

[2020-08-18 16:38] MalharJ opened #74 "Image preprocessing before inference?"
For normal PyTorch models we'd usually perform some sort of image preprocessing before inference (https://pytorch.org/docs/stable/torchvision/models.html), with a mean and a standard deviation. Do we do the same for the robust pre-trained models in this library?

[2020-08-18 18:46] andrewilyas commented on #74
Yep! Check out the ``AttackerModel`` class, normalization is implemented there.

[2020-08-19 08:17] qimingyudaowenti commented on #71
[code]

Do the different versions cause this problem?

[2020-08-20 20:14] andrewilyas commented on #74
Closing this now, let me know if you have any questions!

[2020-08-20 20:14] #74 closed

[2020-08-21 20:12] DavidN-EmbedIntel opened #75 "please confirm hyperparameters used to train the pretrained models linked on the README"
Hi and thank you for putting this package together.

It's very helpful to have the pretrained models linked on the repo README.

Can you please just confirm:
those models were all trained with the `TRAINING_DEFAULTS` from `robustness.defaults`?

E.g. for ResNet50 trained on CIFAR10, the hyperparameters would have been:
[code]
(from https://github.com/MadryLab/robustness/blob/219dff192f1429f1580de1

[2020-08-23 17:45] MalharJ opened #76 "Training times for robust models?"
Is it possible to get an estimate of how much time it takes to train a robust ImageNet model, like say ResNet-50 for epsilon=4/255?

[2020-08-23 22:10] Hadisalman commented on #76
Hi @MalharJ,

It mainly depends on the number of PGD steps you use, the batch-size, and your GPU. As an example, a robust ImageNet model trained with a 3-step PGD with a batch-size of 512 on 4 V100 GPUs should take ~1.6 hrs/epoch (~6 days for a full 90 epoch training).

Hope this helps!

[2020-08-23 22:20] MalharJ commented on #76
Sounds good, thanks!

[2020-08-23 22:20] #76 closed

[2020-08-24 19:34] andrewilyas commented on #75
Hi @DavidN-EmbedIntel, closing this issue for now since it seems resolved, feel free to open an issue or comment here if you are still having any troubles.

[2020-08-24 19:34] #75 closed

[2020-08-24 19:47] DavidN-EmbedIntel commented on #75
Yes please feel free to close.

Thank you @andrewilyas your reply and edits to the script were very helpful, and thank you again for sharing the code + models.

[2020-08-25 01:41] qimingyudaowenti commented on #71
Unluckily, the same error still happened. I close this issue because the problem has no severe effect on using the robustness library and is hard to reproduce.

Thanks for your help!!!

[2020-08-25 01:41] #71 closed

[2020-09-03 15:52] andrewilyas opened #77 "Overriding arguments to datasets with None doesn't override"
Overriding custom class with None doesn't work, since the library takes ``None`` to mean nothing is provided:
[code]

[2020-09-11 14:32] GlebBrykin opened #78 "Robust VGG19"
I would like to discuss the process of learning the robust version of VGG19 on the full ImageNet. So, I have an NVIDIA video card with 3 GB of memory and 8 GB of RAM. Is it really possible to start the learning process in such conditions(the training time is unlimited, the opportunity itself is important)?

[2020-09-11 16:03] andrewilyas commented on #78
Hi! In principle there should be nothing stopping you other than memory constraints. My advice would be to decrease the batch size to as small as possible, which will increase training time but decrease memory usage---just make sure to decrease the learning rate accordingly as well. Also, if your GPU supports mixed-precision training, consider using the --mixed-precision flag as well.

[2020-09-12 21:13] dapello commented on #41
just curious about the timeline for merging develop in to master -- I tried using 1.2.1.post1 and still experienced this issue.

[2020-09-22 03:51] andrewilyas commented on #78
Closing this issue now, feel free to open another if you have more questions!

[2020-09-22 03:51] #78 closed

[2020-10-01 07:05] Icxa opened #80 "Error encountered in model_utils.make_and_restore_model() function when input is a custom dataset"
I have a custom dataset. I have created a subclass of class DataSet as follows:
`
   class My_dataset(DataSet):

	def __init__(self, ds_name, data_path, std, mean, num_classes, transform_train, transform_test, custom_class):
        self.ds_name = ds_name
        self.data_path = data_path
        self.std = std
        self.mean = mean
        self.num_classes = num_classes
        self.transform

[2020-10-01 18:07] andrewilyas commented on #80
Hi @Icxa ! Looks like you're just forgetting a ``self`` in the list of arguments to get_model, in the declaration:
[code]
should be
[code]

Hopefully this fixes it!

[2020-10-01 18:42] Icxa commented on #80
@andrewilyas Thank you very much. :)

[2020-10-01 18:42] #80 closed

[2020-10-13 21:35] rsokl opened #81 "Loading pretrained model in Python 3.8 fails"
PyTorch version info:

[code]

The following code works in an environment with Python 3.7, but does not work for an equivalent environment using Python 3.8
[code]
[code]

[2020-10-14 01:50] andrewilyas commented on #81
Hi! Can you please indicate what version of ``dill`` is in each environment?

[2020-10-14 16:39] GlebBrykin opened #82 "Robust VGG19 on 3GB VRAM"
Once again, greetings to all present! All this time, I have been studying the capabilities of the ready-made robust resnet50, presented by the authors of this work, and compared it with the classic resnet50. The features of the robust model are fantastic compared to the regular model! In addition, I was thinking about how to train VGG19 to make it even more robust in my PC environment. So, there i

[2020-10-16 15:18] dtsip commented on #82
I would go for the second solution since it is easier to implement (pytorch makes aggregating model updates quite easy, you just need to call `backward()` multiple times before each update).

[2020-10-16 15:24] GlebBrykin commented on #82
What about option 1? It will save more than 1 GB of video memory, i.e. in my case exactly 1/3 of the total VRAM.

[2020-10-16 15:32] dtsip commented on #82
I think that this is significantly trickier to implement.  It requires doing a separate forward pass for linear layer and another for the rest of the network, and them combining the backward passes from each part to perform a model update. Seems much more error prone.

[2020-10-17 17:46] GlebBrykin commented on #82
I decided to start training something easy. For example, SqueezeNet. When trying to start the process on places365, I encountered a problem: the program swears at the structure of the dataset. It seems that the downloaded and unpacked directories need to be redistributed somehow, but how?

[2020-10-19 23:32] dtsip commented on #82
The directory structure should mirror that of the pytorch-style ImageNet. If I remember correctly there are options available on the Places website that have a more friendly directory structure.

[2020-10-24 13:49] andrewilyas commented on #81
Sorry forgot to follow up on this! Can you also post your torch version on the 3.7 environment? Is it the same?

[2020-10-24 14:07] rsokl commented on #81
It is the same - 1.6.0

Both environments have the same library versions. Only the Python version is different

[2020-10-25 13:37] andrewilyas commented on #81
Ok looks like this is a known issue with ``dill`` (https://github.com/uqfoundation/dill/issues/357), but it was patched in the latest version. If you have both 3.7 and 3.8 on your machine, you can fix this yourself by doing:

1. Update dill to 0.3.2 in both versions
2. In Python 3.7, execute:
[code]
3. In Python 3.8, you should now be able to load the checkpoint using your attached code.

Meanwhil

[2020-10-26 17:39] GlebBrykin commented on #82
Well, I will try to do so.

[2020-10-26 20:44] rsokl commented on #81
Great, I will give that a shot. Thank you for your help!

Closing this assuming that the above route will work without a hitch :)

[2020-10-26 20:44] #81 closed

[2020-10-28 20:35] ArturoDeza commented on #33
Is there a script to create the Restricted ImageNet folders/dataset from the ImageNet folder?

[2020-11-05 03:15] santosh-b opened #83 "0 training loss"
### For Pytorch 1.7 only:
Hi. I'm getting a `UserWarning: Failed to calculate the accuracy.` which results in 0 loss for training (so- presumably, an error being thrown during gradient update or something). I'm running the following command (from the examples) on Colab:
[code]
Any help? Thanks

[2020-11-05 10:25] Icxa commented on #83
I am encountering the same warning since a couple of days. A script that successfully calculated the accuracy few weeks back, is now giving this UserWarning.
P.S: I had re-installed the package robustness few days ago.

[2020-11-05 13:45] andrewilyas commented on #83
Thanks for bringing this up, looking into it right now. The good thing is that this is an error thrown during calculating the accuracy from the predictions, not from the actual gradient update, so the network should indeed be training. I am looking into the error now.

Can you tell me what version of PyTorch and robustness you are running?

[2020-11-05 23:20] santosh-b commented on #83
Thanks for the quick update. You're absolutely correct, it's a version issue. Pytorch 1.7 causes this to not report accuracy, likely due to some compatibility error within the metrics reporting in the try/catch block. I'll update the original issue accordingly

[2020-11-06 12:14] Icxa commented on #83
Yes I confirm the same that it works completely fine with PyTorch 1.6.0. Thank you very much for your response @andrewilyas :)

[2020-11-08 00:39] humzaiqbal opened #84 "Can't load densenet model properly"
Hi, I'm trying to load some of the pretrained DenseNet models [from this repository](https://github.com/microsoft/robust-models-transfer) using the `make_and_restore_model` utility, but when I do I notice the following error

[code]
after looking at the `densenet.py` file I notice something, for the `DenseNet` option that would actually point to the base `DenseNet` class which isn't configured as

[2020-11-08 03:19] santosh-b opened #85 "Custom Attacks"
Is there any way to train with my own custom attacks using the library, such as FGSM?

[2020-11-08 04:23] andrewilyas commented on #85
Hi @santosh-b, yes there definitely is, this is a common use case. For FGSM specifically, you don't need to use any custom code, you can just use an l-infinity attack with 1 step, and set step size equal to epsilon. If you need something more complicated like a new kind of projection or something, you will just need to subclass the generic AttackerStep class (https://github.com/MadryLab/robustness

[2020-11-08 04:25] andrewilyas commented on #84
Hi @humzaiqbal thanks for raising this! I will look into it, will probably require a quick update to the library. For now your fix sounds like the appropriate way to deal with it.

[2020-11-08 04:35] andrewilyas commented on #83
Just to provide an update on this: I've figured out what's changed between 1.6 and 1.7 that causes this error, and will push a hotfix in the next few days. In the meantime, if you want to change your own local copy, it just requires changing ``view`` to ``reshape`` on this line:

https://github.com/MadryLab/robustness/blob/2dabf3bdd8057fdc0718b2f8d8d90d89b1a109df/robustness/tools/helpers.py#L75

T

[2020-11-08 15:03] andrewilyas commented on #84
Actually, can you provide the code that you are running and what error you get?

[2020-11-08 17:49] humzaiqbal commented on #84
Sure here is a snippet. The `densenet_l2_eps0.ckpt` that I reference is [this](https://robustnessws4285631339.blob.core.windows.net/public-models/robust_imagenet/densenet_l2_eps0.ckpt?sv=2019-10-10&ss=b&srt=sco&sp=rlx&se=2021-10-05T15:06:23Z&st=2020-06-10T07:06:23Z&spr=https&sig=Rwwsg9yfcSrbNLvxse%2F32XOy7ERWSLXMz9Ebka4pS20%3D) from [this repository](https://github.com/microsoft/robust-models-tran

[2020-11-11 11:59] Hadisalman commented on #84
Hey @humzaiqbal, the models from the robust-models-transfer repo are official PyTorch models and can be loaded using the following code:
[code]

Hope this helps!

[2020-11-11 11:59] #84 closed

[2020-11-12 02:16] humzaiqbal commented on #84
Thanks much @Hadisalman  :) I think I was confused because in the example notebook I saw the model being loaded by passing a string name for the architecture and assumed thats how it always worked

[2020-11-27 20:50] Embeddave opened #86 "ImportError causes by `load_state_dict_from_url`"
Hi `robustness` devs,

I'm getting the following error:
[code]

I have the latest version of robustness (1.2.1post1), pytorch 1.0.0, and torchvision 0.2.2

looks like one fix is a try-except clause?
https://github.com/zhoudaxia233/EfficientUnet-PyTorch/issues/5
[code]

[2020-11-27 21:09] Embeddave commented on #86
bug went away after upgrading `pytorch` to 1.6 and `torchvision` to 0.7

sorry, I think I might have been the victim of some weird interaction b/t conda, poetry, and pip.
had to deactivate / reactivate to deal with other weird dependency issues but after doing so everything's functioning

will go ahead and close

[2020-11-27 21:09] #86 closed

[2020-12-01 06:12] andrewilyas commented on #83
This has now been fixed and pushed to PyPI, closing now! Feel free to open a new issue if anything else arises.

[2020-12-01 06:12] #83 closed

[2020-12-03 22:50] sdan2 opened #87 "Pre-Trained Model"
How do I exactly load a pre-trained model? I have the downloaded cifar_linf_8.pt file. Then I do the following:

from robustness.cifar_models.resnet import ResNet50
model=ResNet50()
model.load_state_dict(torch.load("cifar_nat.pt"))

However, I am getting an error saying the keys do not match. Do you have any suggestions on what to do?
Thanks!

[2020-12-03 22:53] andrewilyas commented on #87
Yes, see the ``robustness.model_utils.make_and_restore_model`` function, that should help!

[2020-12-03 23:05] sdan2 commented on #87
Thanks, that worked!

[2020-12-03 23:05] #87 closed

[2020-12-11 05:19] andrewilyas commented on #82
Closing this for now, feel free to open another issue with any further questions!

[2020-12-11 05:19] #82 closed

[2020-12-11 05:20] andrewilyas commented on #77
This should be fixed in the latest version, closing!

[2020-12-11 05:20] #77 closed

[2020-12-23 10:18] Aaron-Zhao123 opened #88 "Allowing a more flexible forward pass"
The current `AttackerModel` class only supports passing pre-defined paramters (like `make_adv` ...) and `attacker_kwargs`.

For some slightly more advanced users,  I think it is common to have models with addtional arguments (parmeters that are more than inputs and outputs), such as:

[code]
The current `AttackerModel` class do not really give the flexibility to handle inputs like `random_x` and `

[2020-12-30 18:33] andrewilyas commented on #88
Hi, thank you for the suggestion, it sounds like a good idea! I'm not sure when we'll get around to it but feel free to submit a PR.

[2021-01-13 09:26] GlebBrykin opened #89 "Robust SqueezeNet for ImageNet"
At the moment, I have managed to run your library on my computer with a GPU and I would like to train a robust SqueezeNet 1.1 on the Imagenet dataset. But I ran into a problem: Imagenet is no longer available for download. I managed to download the validation and training part from academictorrents, but I couldn't find devkit archive. Please upload this archive here, it is only 2.5 MB. Without thi

[2021-01-13 15:02] dtsip commented on #89
As far as I know, ImageNet is still available for download (under certain terms and conditions) from [here](http://image-net.org/download).

That being said, I do not fully understand why the training and validation images are not enough to train a model.

[2021-01-13 18:19] GlebBrykin commented on #89
The fact is that in this file, as I understand it, there are annotations for the files of the validation part of the dataset. That is, it is impossible to test the model without it. But the problem, apparently, was solved. robustness does not use torchvision.datasets.ImageNet. In general, I am now preparing datasets for robustness.

[2021-01-14 14:55] GlebBrykin commented on #89
Well. I managed to prepare the dataset and run the training through the robustness CLI. But there is a problem. The maximum size of the batch is 4. And this is on SqueezeNet 1.1. 8 GB of RAM and 3 GB of video memory. Why such a large memory consumption? Is there any way to fix this? 1 epoch on ImageNet requires 24 hours and it would be nice to increase the size of the batch.

[2021-01-14 15:20] dtsip commented on #89
It is possible to measure the number of model parameters and the number of activations produced during the forward and backward passes to directly see what is consuming memory.

Unfortunately, we do not have the capacity to investigate this, especially since it is not as issue directly related to the library, but rather standard DNN training.

[2021-01-14 15:44] GlebBrykin commented on #89
Okay, then I'll rephrase the question a little. Does robust learning put an extra load on memory compared to regular learning?

[2021-01-14 18:15] dtsip commented on #89
Nope. Robust learning requires additional passes through the model, but the memory footprint is essentially the same. (When using `use_best` for PGD there will be an additional copy of the input stored, but this is tiny compared to the size of saving the model activations, which is where the real memory consumption happens.)

[2021-01-29 11:07] GlebBrykin commented on #89
Good. Then what settings would you recommend me to use? I mean learning_rate, etc. I will teach on the standard ImageNet.

[2021-01-29 11:10] GlebBrykin commented on #89
And what's more, is it possible to compute different parts of the network on different devices? For example, for VGG19. The convolutional part is calculated on the GPU, and the fully connected part is calculated on the CPU.

[2021-01-29 17:09] dtsip commented on #89
We typically train robust models with the same parameters as their standard version. So I would start by using the parameters used for a standard SqueezeNet on ImageNet.

Yes, it should be possible to use different devices. It might require modifying that training code a bit though since this is not a typical use-case.

[2021-02-06 13:50] GlebBrykin commented on #89
So, I keep trying to train the robust SqueezeNet. Decided to use RestrictedImageNet due to limited resources. I have a problem: Robust SqueezeNet1_1 seems to behave incorrectly. This is expressed in the fact that when I try to use it for style transfer, the loss is always equal to nan. And even at the first iteration, before the image update and the optimizer step. Moreover, the code was tested on

[2021-03-05 10:10] giuliolovisotto opened #93 "Non contiguous arrays?"
Hi, I found a problem reproducing the basic example in https://github.com/microsoft/robust-models-transfer (I downloaded `resnet18_l2_eps3.ckpt`).

Problem is that I get NaN values for accuracy. If I print the exception caught at Line 470 of `robustness/train.py` it says the following `UserWarning: view size is not compatible with input tensor's size and stride (at least one dimension spans across

[2021-03-05 12:49] andrewilyas commented on #93
Thanks for making an issue! Does this still happen with the latest version of the library? We became aware of this issue (it actually only happens with PyTorch 1.7) a few months ago and so we changed that line to use .reshape() instead:

https://github.com/MadryLab/robustness/blob/79d371fd799885ea5fe5553c2b749f41de1a2c4e/robustness/tools/helpers.py#L75

The updated version should be available on P

[2021-03-05 13:03] giuliolovisotto commented on #93
Great thanks, updating to the newest version fixed it! Don't know if you want to change the robustness version in the [requirements.txt](https://github.com/microsoft/robust-models-transfer/blob/master/requirements.txt) file for the other project.

[2021-03-05 13:03] #93 closed

[2021-03-24 16:38] ymerkli opened #94 "Include `is_best` in `LOGS_SCHEMA`"
I think it would be useful to include the `is_best` variable from `train.train_model` in the logs. Since `log_info` is passed to the epoch hook, the epoch hook function could then perform custom model checkpointing based on whether the current model is the best model so far.
For instance, I'm trying to checkpoint the classifier network itself (i.e. only `AttackerModel.model`, not the entire `Attac

[2021-03-31 15:57] andrewilyas commented on #94
This is a great idea, will make sure it's there in the next release, assuming it doesn't break anything :)

[2021-04-02 02:59] GaoJiqiang opened #95 "imagenet dataset download"
I want to train a standard model on imagenet, but there has a problem when downloading the dataset.

![image](https://user-images.githubusercontent.com/32474257/113375623-62698680-93a2-11eb-8e43-180977cb7d21.png)

[2021-04-02 03:29] Hadisalman commented on #95
Hi @GaoJiqiang, you have to first download ImageNet before running the code (the code won't download it automatically for you).

Basically you have to obtain a copy of ImageNet (http://www.image-net.org/index), then preprocess the val directory to look like the train directory by running [this script](https://raw.githubusercontent.com/soumith/imagenetloader.torch/master/valprep.sh). Finally, point

[2021-04-02 03:29] #95 closed

[2021-04-25 08:28] elcronos opened #96 "How to finetune a model and robustly train it"
I see in the examples that there are some specific ways to load datasets such as ImageNet and CIFAR. However, I have a custom dataset with 10 labels with a directory structure with train/test folders. How can I finetune a pretrained model such as ResNet50, change the head so it has 10 outputs in the last layer and adversarially train it using this library?

[2021-04-25 08:47] Hadisalman commented on #96
Hi @elcronos!

Here are the steps to do so.

1. Add your custom dataset to the lib as described [here](https://robustness.readthedocs.io/en/latest/example_usage/training_lib_part_2.html#training-on-custom-datasets).

2. Create a model and modify the last layer of that model, e.g.
[code]
3. Run adversarial training as you would do normally for cifar10 or ImageNet (e.g. [here](https://robustness.rea

[2021-04-26 04:40] elcronos commented on #96
Hi @Hadisalman,

Thanks for your quick response. So I tried to follow those steps but I'm still getting some errors.

This is what I added in datasets.py:

[code]

Then, I tried the following code for the adversarial training:

[code]

I'm getting the following error:
[code]

Also, in the code above. Could you please indicate how can I customize my PGD attack with these parameters:

ATTACK_EPS = 0

[2021-04-26 05:56] Hadisalman commented on #96
@elcronos you need to add the training defaults of your dataset inside `defaults.py` similar to below
[code]
or use existing ones, e.g.

[code]

Regarding adversarial training, you can specify them all in

[code]
but our `train.train_model` doesn't allow you to do targeted attack for adversarial training. If you want to do targeted PGD attack, you can write your own training loop similar to `train

[2021-04-27 06:51] elcronos commented on #96
Thanks again @Hadisalman,

I was able to finetune a custom model. I saw that once it finished training in the path: /outputs/8a975b65-bcfc-477b-b679-e7193f81a756 there is a 69_checkpoint.pt file. There is also checkpoint.pt.best.

So my question is now how can I load those checkpoints for inference later. I tried the code from an example:

[code]

I'm getting the Error:

[code]

The problem seems

[2021-04-27 06:57] andrewilyas commented on #96
Hi @elcronos!

1. You need to change the number of classes in your custom dataset, see @Hadisalman 's example above.
2. No, there is no way to do that.

[2021-04-27 07:16] elcronos commented on #96
Hi @andrewilyas,

Thanks for your prompt response. Maybe I was not clear enough.

I understand the part of changing that part of the code:

[code]

But then my question is how I correctly load the weights of the model. In vanilla Pytorch I would usually do something like this:
[code]

But in this case, it seems that the format that the model use is incompatible and I get this error:

[code]

So cl

[2021-04-27 07:21] andrewilyas commented on #96
Hi, it seems like your definition of MyDataset looks like:
[code]
and so the library expects the checkpoint to have 1000 class output. Try changing this to 10. Also, please see the repository that @Hadisalman linked (the robust-models-transfer repository), which covers how to do this in more depth.

[2021-04-29 02:00] #96 closed

[2021-04-30 07:20] elcronos opened #97 "Training on Custom Dataset triggers error : CUDA error: device-side assert triggered"
I'm using your  Python package to adversarially train a ResNet50 network for CelebA dataset. My code looks something like this:

[code]

My definition for CelebA in robustness/datasets.py is:

[code]

Once I run my code it starts training as expected but then after a while I get this error:
[code]

Any insight on why is this happening and how to solve it?

[2021-05-01 22:14] SohamTamba opened #98 "Better utilize GPU resources for PGD with random restarts"
The current implementation for PGD with random restarts works like this:

**Input: X, Y, model**
[code]
If the user has enough GPU memory - which will often be the case for CIFAR10 -, then a better way to go about this is:
[code]

My only concern is this might negatively affect BatchNorm. But given how computationally intensive adversarial training is, this might be a worthwhile option to provide

[2021-05-23 23:30] kaustubhsridhar opened #99 "store overwritten in example in docs"
Hey,
The robustness library is pretty amazing. :)
I found a tiny error in your documentation for using robustness as a training library. ([link](https://robustness.readthedocs.io/en/latest/example_usage/training_lib_part_1.html#step-4-training-the-model))

The line 'store = store.Store(args.out_dir, args.exp_name)' overrides the name 'store'. This leads to an issue two lines later in 'schema = sto

[2021-08-08 21:03] g-griffin opened #101 "RuntimeError: Found 0 files in subfolders of: ./data/imagenet2012/images/val Supported extensions are: .jpg,.jpeg,.png,.ppm,.bmp,.pgm,.tif"
After downloading the images from ImageNet and following the folder structure specified here (https://robustness.readthedocs.io/en/latest/example_usage/custom_imagenet.html) I get this error:

[code]
val contains the 50000 validation images from ImageNet and train contains the original structure from ImageNet. All of the files from ImageNet are .JPEG.

src -> data -> imagenet2012 -> images -> trai

[2021-08-09 11:44] g-griffin commented on #101
Found the cause and solution here: (https://github.com/MadryLab/robustness/issues/95)

The val images need to be preprocessed into folders like the train images.

[2021-08-09 11:44] #101 closed

[2021-09-08 07:09] carlamao opened #102 "Can't load 'densenet121""
Is the documentation up to date? Because i cant seem to load 'densenet121' using this code, which works for resnet50:
[code]

When I try to run
[code]
I get the following error
[code]

[2021-09-28 15:48] ahadda5 opened #103 "Inquiry - running tensorboardx on store"
I'm trying to view the store logs using the recommended command referenced [cox](https://cox.readthedocs.io/en/latest/examples/2.html)
I see in the LOGS_SCHEMA the following "filters"  epoch, adv_prec1 etc, which i use in the cox command below.

I cannot get cox-tensorboard to work b/c of the error , so i would assume that the filter list is not correct?
[ this is based on the "[Using robustness a

[2021-10-19 22:48] damon-demon opened #104 "Missing files for Customized ImageNet Subset."
The provided link in the instruction to download the **wordnet.is_a.txt**, **words.txt** and **imagenet_class_index.json** is **not valid** anymore.
Could you please upload them?  It would be really helpful.

In addition, is the **restricted ImageNet** , which is used in "ROBUSTNESS MAY BE AT ODDS WITH ACCURACY (https://openreview.net/pdf?id=SyxAb30cY7)", Pre-Packaged for us to use directly?

Wait

[2021-11-08 07:09] vietvo89 opened #105 "Cannot load model CIFAR-10 - epsilon = 0.25 or 1.0"
Hi

When loading "cifar_l2_0_5.pt", it was successful.
[code]
But I could not load model "cifar_l2_0_25.pt" and I got an error as below. I am not sure what is going wrong. I used the same code to load both models but the model 0.5 is ok, model 0.25 or even 1.0 are not successful loading.

[code]

[2021-11-08 07:35] vietvo89 commented on #105
When I tested it with a clean model "cifar_nat.pt", it worked. I properly guess it could be something wrong with models 0.25 and 1.0.

[2021-11-10 07:20] vietvo89 commented on #81
Hello @andrewilyas  and @rsokl

I got the same issue when loading model l2 0.25 and 1.0. But loading model l2 0.5 and l_inf_8 has no problem. I followed your recommendation to downgrade dill 0.3.4 to 0.3.2, but it did not work. I am using python 3.8. Please do me a favor!

Thanks

[2021-11-10 07:40] vietvo89 commented on #71
@Hadisalman, I followed your suggestion, but it did not help. I also followed another suggestion from @andrewilyas to install dill 0.3.2 but it did not help too. I wonder why model l2 0.5 and l_inf_8 or nat work find for me while model l2_0.25 or 1.0 cannot be loaded! It is critical to me, so please reply soon, thanks

[2021-11-10 16:52] Hadisalman commented on #71
@vietvo89 I just tried loading these checkpoints with
[code]

Please use `python 3.7`. It seems these models don't load well indeed in `3.8`

Hope this helps!

[2021-11-10 17:18] Hadisalman commented on #102
@carlamao That's not how you should be loading models in our library. You should instead be doing this

[code]

[2021-11-12 03:48] vietvo89 commented on #71
@Hadisalman , Thanks. Yes, it works with python 3.7. I just realize that I can use 3.7 and save it for 3.8. Then 3.8 can use it as @andrewilyas showed in another issue #.

[2021-12-07 15:03] motoight commented on #105
I am facing the same problem

[2021-12-14 16:07] Gnabe opened #107 "Constant name for final feature layer for easier visualization"
Hello,
Is there a reason why the models sometimes use nn.AdaptiveAvgPool2d and sometimes no layer (F.avg_pool2d)?
Always using nn.AdaptiveAvgPool2d with a constant layer name like avgpool or maybe final_features would help with visualizing the activations as the lucent library uses the name of the layer. https://github.com/MadryLab/DebuggableDeepNetworks can for example not visualize activations o

[2021-12-31 09:27] xmser opened #108 "How to customize the loss function"
First of all, thank you for your great contribution. This is really an amazing result.
I need to use adversarial training (I just touched on this issue )  in my research topic. I want to do a robust binary classification problem using logistic regression, but I am not very sure how to rewrite the loss function. For example, how to customize the loss function in the picture .Looking forward to your

[2022-01-27 04:51] Buhua-Liu commented on #105
Changing the environment from `python=3.8.8` to `python=3.6.13` solved the problem for me. @vietvo89 @motoight

[2022-01-29 01:18] vietvo89 commented on #105
Thank @Buhua-Liu, in fact, there are two ways of coping with this problem. One is to use python < 3.8 while the other way is to save the model #71 and #81

[2022-01-29 01:19] #105 closed

[2022-02-03 12:50] alexriedel1 opened #110 "Interpreting Top5 Accuracy"
Hey, I'm training a robst model. During training I get a `AdvPrec5 ` of `1.369`. How can this value be intrepreted? Doesn't the Top5 accuracy have to be in the range [0,1] ?

`Train Epoch:0 | Loss 6.8375 | AdvPrec1 0.346 | AdvPrec5 1.369 | Reg term: 0.0 ||:  97%|█████████▋| 1936/2002 [1:14:17<02:31,  2.30s/it]`

[2022-02-03 13:04] alexriedel1 opened #111 "Add validate every n epochs"
Hey, as an enhancement for custom model training, I propose to add a configuration argument so that the trainer does not evaluate after every epoch but a specification to validate every n epochs.

This would speed up the training process as the validation on adversarial examples can take quite a long time and maybe doesn't make sense in the early stages of a training.

[2022-04-20 21:06] lxuechen opened #113 "torchvision-dependent code breaks for version `0.11.3+cu113`"
Running simple checks, I get

[code]

Related issues [here](https://github.com/xingyizhou/CenterTrack/issues/134) and [here](https://stackoverflow.com/questions/70998767/no-module-named-torchvision-models-utils).

[2022-04-20 21:11] lxuechen commented on #113
Just a note that this doesn't appear to be an issue in `main`. Installing via pip defaults to the last tag, which has this issue.

[2022-04-21 01:34] lyob opened #114 "import of `custom_modules` breaking with newer version of python/pytorch/torchvision"
When I use a more recent version of python (3.8), pytorch (torch==1.11) and torchvision (0.12.0), I have trouble importing `custom_modules`. Could this be due to a naming conflict? For some reason, I have no issue importing when I use older versions of python (3.6), pytorch (1.7.1) and torchvision (0.8.2), but my code requires more recent versions of these packages.

Here's the traceback:
[code]

[2022-04-21 02:29] #114 closed, assigned to nobody

[2022-05-02 21:44] rsokl opened #115 "The loss-aggregation for the attacker should be `sum` not `mean`"
https://github.com/MadryLab/robustness/blob/a9541241defd9972e9334bfcdb804f6aefe24dc7/robustness/attacker.py#L195

Assuming that you are solving for per-datum perturbations, and not a broadcasted (or uniform) perturbation, then the loss-aggregation performed prior to backprop should be `sum`, and not `mean`. Using `mean`, the gradient of each perturbation in the batch is scaled by the inverse batch

[2022-05-08 04:50] cdluminate opened #116 "Pretrained imagenet_linf_16?"
Is there any pretrained model for epsilon=16/255 available? Does such strong attack make resnet50 too terrible on benign examples?

BTW, according to readme: `(Have you used the package and found it useful? Let us know!).`

The code is a good reference, but more importantly the pretrained imagenet model is very much appreciated! Cost of standard adversarial training on imagenet is just hard to acc

[2022-05-08 04:55] cdluminate commented on #115
`mean = sum / N`, and thus `partial mean / partial input = (1/N) partial sum / partial input`.
As PGD use the sign of gradient, we have `sign(partial mean / partial input) = sign((1/N) partial sum / ..) = sign(partial sum/..)`. So mean lead to the same result as sum.

[2022-05-08 13:42] rsokl commented on #115
Right, as I stated "obviously, this does not effect methods where the gradient is normalized." The point is that this *happens* to not affect methods like FGSM because of the signed gradient, but other methods would yield the incorrect behavior.

[2022-05-08 14:28] cdluminate commented on #115
Indeed. As long as `sign(grad)` is not in the update equation, it will trigger weird bugs for people who want to customize new algorithms.

[2022-05-20 02:05] tamltlkdn commented on #111
Hello, why do we need to validate the adversarial examples during training? Are we using/reporting the best model instead of the last model??

[2022-05-20 09:09] alexriedel1 commented on #111
We want to know if the model is improving (learning) during the training

[2022-05-20 09:46] tamltlkdn commented on #111
I verified by myself and find that the PGD 7 ACC reaches its peak after the lr is dropped (probably at 100 epoch or 150 epoch). The final (at 200 epoch) model achieves a lower PGD 20 than the best model. I load the pre-trained model ResNet50 provided in this repo and it said the epoch is 152. It looks like they provide the best one, not the last model.

[2022-05-23 13:59] jonas-amme commented on #104
I also cannot find the mentioned files and would appreciate an update on that very much!

[2022-07-08 09:38] jS5t3r opened #117 "ModuleNotFoundError: No module named 'robustness.model_utils'; 'robustness' is not a package"
Error
[code]

Installed packages:
robustness         1.2.1.post2
torch                  1.12.0
torchvision         0.13.0
numpy               1.21.6
pandas              1.3.5

I am not able to use the robustness lib. I have installed it via pip.

[2022-07-24 05:58] yeklou commented on #22
AttributeError: Can't get attribute 'Model' on <module '__main__' from 'C:\\Users\\eklou\\repos\\DataSets\\app-Deployment_flask.py'>
when I tried to import dill package, I am getting ModuleNotFoundError: No module named 'dill'. Please, help
Thanks!

[2022-10-25 21:51] yifan6210 opened #119 "import robustness. dataset "No module named 'torchvision.models.utils'""
Hi, package developers,

I encountered an issue with the import robustness. dataset and I think the potential problem occurs in the vgg.py file under imagenet models.

potential changes from

from torchvision.models.utils import load_state_dict_from_url

to

from torch.hub import load_state_dict_from_url

[2022-11-05 06:11] Vijay-M-Giri commented on #104
https://s3.amazonaws.com/deep-learning-models/image-models/imagenet_class_index.json

http://www.image-net.org/data/words.txt

http://www.image-net.org/data/wordnet.is_a.txt